IDI_ICON1 ICON "autot.ico"
1 24 "main.exe.manifest"

1 VERSIONINFO
FILEVERSION     1,0,0,1
PRODUCTVERSION  1,0,0,2
FILEFLAGS       0x0L
FILEFLAGSMASK   0x3fL
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "File description"
            VALUE "FileVersion", "1.0"
            VALUE "LegalCopyright", "Copyright"
            VALUE "InternalName", "Internel name"
            VALUE "OriginalFilename", "File name"
            VALUE "ProductName", "Product name"
            VALUE "ProductVersion", "1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
            VALUE "Translation", 0x0409, 0x04B0
    END
END

1 ICON "autot.ico"

1 RT_MANIFEST "autot.exe.manifest"